<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.consol.citrus.mvn"/>
        <listEntry value="archetypeArtifactId=citrus-quickstart"/>
        <listEntry value="archetypeVersion=2.7.3"/>
        <listEntry value="groupId=Driverexecutersmanager_03"/>
        <listEntry value="artifactId=Automation"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Driverexecutersmanager_03.Automation"/>
        <listEntry value="outputDirectory=C:\Users\Bhanuprakash Reddy\Desktop\Selenium"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\BHANUP~1\AppData\Local\Temp\m2e-archetypeGenerator4903486947856066827"/>
</launchConfiguration>
